.collection-items-wrapper {
    display: flex;
    min-width: 0;
    width: 100%;
    overflow-x: scroll;
    scrollbar-width: none;
    -ms-overflow-style: none;
}

.collection-items-wrapper::-webkit-scrollbar {
  display: none;
}

.collection-items-container {
    flex-direction: row;
    gap: var(--spacing-sm);
    width: fit-content;
}